* {
    margin: 0;
    padding: 0;
    
}
.form-container{
    min-height: 100vh;
    background-color: rgb(177, 246, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20;
}

.form-container form{
    padding: 20px;
    background-color: azure;
    text-align: center;
    width: 500px;
    border-radius: 15px;
}

.form-container form .box{
    width: 90%;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 16px;
    color: black;
    margin: 10px 0 ;
}

.form-container form h3{
    font-size: 25px;
}

.btn{
    width: 95%;
    border-radius: 5px;
    padding: 10px 30px;
    color: black;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; 
}
.btn{
    background-color: aquamarine;
}
.btn:hover{
    background-color: aqua;
}

.form-container form p{
    margin-top: 15px;
    font-size: 16px;
    color: black;
}

.form-container form a{
    color: blue;
}

.message{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 16px;
}